<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="BatchExposure">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxCheckBox" name="ID_CHECKBOX1" variable="m_active" member="yes" />
				<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
			</object>
			<object class="sizeritem">
				<object class="wxSpinCtrl" name="ID_SPINCTRL1" subclass="wxSpinCtrlDbl" variable="m_exptime" member="yes">
					<value>1</value>
					<size>55,-1</size>
				</object>
				<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
			</object>
			<object class="sizeritem">
				<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="m_numexp" member="yes">
					<value>1</value>
					<max>1000</max>
					<size>55,-1</size>
				</object>
				<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
			</object>
		</object>
	</object>
</wxsmith>
