<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="SettingsGuidingInterfacePort">
		<object class="wxBoxSizer" variable="BoxSizer1" member="yes">
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
					<label>Please edit the port settings &#x0A;using the &quot;Guide Port&quot; tab</label>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
