<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="SettingsControlPort">
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<object class="wxBoxSizer" variable="BoxSizer1" member="no">
				<orient>wxVERTICAL</orient>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer2" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="no">
								<label>Port</label>
							</object>
							<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxChoice" name="ID_CHOICE1" variable="PortChoice" member="yes">
								<handler function="OnPortChoiceSelect" entry="EVT_CHOICE" />
							</object>
							<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>4</option>
						</object>
					</object>
					<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="yes">
						<cols>4</cols>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="no">
								<label>Port pins</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
								<label>D7 D0</label>
								<style>wxALIGN_RIGHT</style>
								<size>105,-1</size>
							</object>
							<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>2</option>
						</object>
						<object class="spacer">
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
							<size>20,10</size>
						</object>
						<object class="sizeritem">
							<object class="wxButton" name="ID_BUTTON1" variable="DefaultsButton" member="yes">
								<label>Defaults</label>
								<handler function="OnDefaultsButtonClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="no">
								<label>LX Mask</label>
								<style>wxALIGN_RIGHT</style>
							</object>
							<flag>wxLEFT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="Custom" name="ID_CUSTOM3" subclass="wxIoPortCtrl" variable="LX_mask" member="yes">
								<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),$(NAME));</creating_code>
								<style>wxEXPAND</style>
							</object>
							<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>4</border>
							<option>1</option>
						</object>
						<object class="spacer">
							<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
							<size>-1,10</size>
						</object>
						<object class="spacer">
							<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
							<size>-1,10</size>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="no">
								<label>LX Init</label>
							</object>
							<flag>wxLEFT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="Custom" name="ID_CUSTOM4" subclass="wxIoPortCtrl" variable="LX_init" member="yes">
								<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),$(NAME));</creating_code>
								<style>wxEXPAND</style>
							</object>
							<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>4</border>
							<option>1</option>
						</object>
						<object class="spacer">
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="spacer">
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="no">
								<label>LX Frame</label>
							</object>
							<flag>wxLEFT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="Custom" name="ID_CUSTOM5" subclass="wxIoPortCtrl" variable="LX_frame" member="yes">
								<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),$(NAME));</creating_code>
								<style>wxEXPAND</style>
							</object>
							<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>4</border>
							<option>1</option>
						</object>
						<object class="spacer">
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxCheckBox" name="ID_CHECKBOX3" variable="UseInvertedLogic" member="yes">
								<label>Inverted logic</label>
							</object>
							<flag>wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="no">
								<label>LX Amp</label>
							</object>
							<flag>wxLEFT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="Custom" name="ID_CUSTOM6" subclass="wxIoPortCtrl" variable="LX_amp" member="yes">
								<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),$(NAME));</creating_code>
								<style>wxEXPAND</style>
							</object>
							<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>4</border>
							<option>1</option>
						</object>
						<object class="spacer">
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxCheckBox" name="ID_CHECKBOX1" variable="UseAmpCheckBox" member="yes">
								<label>Use Amp</label>
							</object>
							<flag>wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="no">
								<label>LX Shutter</label>
							</object>
							<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="Custom" name="ID_CUSTOM7" subclass="wxIoPortCtrl" variable="LX_shutter" member="yes">
								<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),$(NAME));</creating_code>
								<style>wxEXPAND</style>
							</object>
							<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>4</border>
							<option>1</option>
						</object>
						<object class="spacer">
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxCheckBox" name="ID_CHECKBOX2" variable="UseShutterCheckBox" member="yes">
								<label>Use Shutter</label>
							</object>
							<flag>wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>4</option>
				</object>
			</object>
		</object>
	</object>
</wxsmith>
