<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="wxGuidingInterfaceParallelPort">
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="yes">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer4" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="no">
							<label>Protocol</label>
							<size>70,-1</size>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE3" variable="ProtocolChoice" member="yes">
							<size>160,-1</size>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxTOP|wxBOTTOM|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText10" member="no">
							<label>Port pins</label>
						</object>
						<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT17" variable="StaticTextPinLabels" member="yes">
							<label>D7 &lt;-------&gt; D0</label>
							<size>105,-1</size>
							<style>wxALIGN_CENTRE</style>
						</object>
						<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText11" member="no">
							<label>GX Mask</label>
						</object>
						<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>4</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="Custom" name="ID_CUSTOM2" subclass="wxIoPortCtrl" variable="GX_mask" member="yes">
							<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),$(NAME));</creating_code>
							<style>wxEXPAND</style>
						</object>
						<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>4</border>
					</object>
				</object>
				<flag>wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer5" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT12" variable="StaticText12" member="no">
							<label>GX Init</label>
						</object>
						<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>4</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="Custom" name="ID_CUSTOM8" subclass="wxIoPortCtrl" variable="GX_init" member="yes">
							<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),$(NAME));</creating_code>
							<style>wxEXPAND</style>
						</object>
						<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>4</border>
					</object>
				</object>
				<flag>wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer6" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT13" variable="StaticText13" member="no">
							<label>GX RA pos</label>
						</object>
						<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>4</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="Custom" name="ID_CUSTOM9" subclass="wxIoPortCtrl" variable="GX_RA_pos" member="yes">
							<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),$(NAME));</creating_code>
							<style>wxEXPAND</style>
						</object>
						<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>4</border>
					</object>
				</object>
				<flag>wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer7" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT14" variable="StaticText14" member="no">
							<label>GX RA neg</label>
						</object>
						<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>4</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="Custom" name="ID_CUSTOM10" subclass="wxIoPortCtrl" variable="GX_RA_neg" member="yes">
							<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),$(NAME));</creating_code>
							<style>wxEXPAND</style>
						</object>
						<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>4</border>
					</object>
				</object>
				<flag>wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer9" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT15" variable="StaticText15" member="no">
							<label>GX DEC pos</label>
						</object>
						<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>4</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="Custom" name="ID_CUSTOM11" subclass="wxIoPortCtrl" variable="GX_DEC_pos" member="yes">
							<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),$(NAME));</creating_code>
							<style>wxEXPAND</style>
						</object>
						<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>4</border>
					</object>
				</object>
				<flag>wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer8" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT16" variable="StaticText16" member="no">
							<label>GX DEC neg</label>
						</object>
						<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>4</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="Custom" name="ID_CUSTOM12" subclass="wxIoPortCtrl" variable="GX_DEC_neg" member="yes">
							<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),$(NAME));</creating_code>
							<style>wxEXPAND</style>
						</object>
						<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>4</border>
					</object>
				</object>
				<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
